/* logon CSS */

.button {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 20px;

    background-color: #4ae2a3;
    color: rgb(0, 0, 0);
}

.button:hover {
    transform: translateY(-2px);
    filter: brightness(1.1);
}

.button:active {
    transform: translateY(0);
    filter: brightness(0.9);
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
}
